.hero {
    background-color: red;
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-list {
    float: right;
    margin-top: 20px;
}

.hero-welcome {
    margin: auto;
    padding: 260px 0;
    text-align: center;
}

.hero-title {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.hero-subtitle {
    padding: 0 250px;
    color: white;
    font-size: 20px;
}
