.slider {
    background-color: white;
    margin-bottom: 20px;
}

.slider > * {
    margin-right: auto;
    margin-left: auto;
}

.slider-figures {
    font-size: 0;
}

.slider-figure {
    display: inline-block;
    width: 240px;
    height: 90px;
    background-repeat: no-repeat;
}

.slider-figure:not(:last-of-type) {
    margin-left: 20px;
    margin-right: 16px;
    margin-top: 40px;
}


