@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #000000;
}

* {
    box-sizing: border-box;
}

button {
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    position: relative;
}

body {
    --text-color: #ffffff;

    --size-h1: 48px;
    --size-h2: 20px;


    font-family:  'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

.logo {
    color: #ffffff;
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    display: inline-block;
    float: left;
}


.pix {
    position: relative;
    width: 250px;
    height: 220px;
    display: inline-block;
    background-size: 100% 100%;
    cursor: pointer;
}

.pix-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #c0301c;
    opacity: 0.5;
}

.pix-caption {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
}

.pix:hover .pix-overlay,
.pix:hover .pix-caption {
    display: block;
}

.coffee-work {
    background-color: rgb(235, 147, 147);
    background-image: url(images/coffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 1300px;
}

.coffee-title {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    height: 200px;
    width: 100px;
}
