@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #000000;
}

* {
    box-sizing: border-box;
}

img {
    margin: 5px;
    margin-right: 12px;
    max-width: 100%;
    vertical-align: middle;
}

button {
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    position: relative;
}

body {
    --text-color: #ffffff;

    --size-h1: 48px;
    --size-h2: 20px;


    font-family:  'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

.logo {
    color: #ffffff;
    margin-top: 20px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    display: inline-block;
    float: left;
}


.pix {
    position: relative;
    width: 250px;
    height: 220px;
    display: inline-block;
    background-size: 100% 100%;
    cursor: pointer;
}

.pix-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #c0301c;
    opacity: 0.5;
}

.pix-caption {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pix:hover .pix-overlay,
.pix:hover .pix-caption {
    display: block;
}

.hero-welcome-coffee {
    background-color: rgb(235, 147, 147);
    background-image: url(images/coffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    text-align: center;
    height: 370px;
    
}

.coffee-title {
    margin: auto;
    padding: 50px 0;
    padding-bottom: 0;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 400;
}

.coffee-subtitle {
    text-align: center;
    padding: 0 0 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.btn {
    margin: auto;
    text-align: center;
}

.mini-text {
    font-size: 16px;
    text-align: center;
}

.descrition {
    padding-left: 30px;
}

.event {
    width: 76px;
    height: 76px;
    border: 2px solid #555555;
    padding: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.event__day {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #777777;
}

.event__month {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #777777;
}

.panel {
    display: flex;
}

.panel__description {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: center;
}

.panel__title {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #c0301c;
    margin: 0;
    margin-bottom: 4px;
}

.panel__subtitle {
    font-family: RobotoSlab;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #777777;
    margin: 0;
}

.blog-post {
    display: flex;
    max-width: 1130px;
    margin: 0 auto;
}
.blog-post__image {
    display: flex;
    flex: 0 0 auto;
    margin-right: 32px;
}

.blog-post__description {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.blog-post__btn {
    font-family: RobotoSlab;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c;
    background: none;
    border: none;
    width: auto;
    display: inline-flex;
}

.blog-post__btnn {
    font-family: RobotoSlab;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #777777;
    background: none;
    border: none;
    width: auto;
    display: inline-flex;
}
/*.grey-stripe {
    background-color: grey;
    padding: 30px 0;
    width: 75%;
    box-sizing: border-box;
    height: 2px;
  }
  */

  .blog-post__description::after, .section-white .grey-stripe {
    background-color: #555;
    bottom: -30px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 800px;
  } 

  .websids {
    width: 141px;
    height: 27px;
    display: -webkit-box;
    margin: 25px 25px;
    background-size: 100% 100%;
}

.sentence {
    margin-top: 90px;
    margin-bottom: 6px;
    text-align: center;
    font-family: RobotoSlab;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: italic;
    color: #555555;
}

.sentence_two_part {
    margin: 0;
    text-align: center;
    font-family: RobotoSlab;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: italic;
    color: #555555;
}

.author {
    margin-top: 10px 0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: RobotoSlab;
    line-height: 30px;
    font-weight: 400;
    color: #555555;
}

.form {
    display: flex;
    justify-content: center;
}

.connection {
    display: -webkit-box;
    justify-content: center;
}

.logo-desc {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #555555;
    display: table-row-group;
    font-family: Montserrat;
}

.logo-address_2, .logo-address_3 {
    font-family: RobotoSlab;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #555555;
    display: table-row-group;
    margin: 10px;
}

/* .form-content {
    display: flex;
    text-transform: uppercase;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
    

.form-field {
    font-family: RobotoSlab;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #555555;
} */

.input {
    flex: 1 1 auto;
    width: 100%;
    height: 44px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    line-height: 75px;
    text-align: left;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: rgba(246, 245, 245, 0.5);
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 8px;
    margin-bottom: 12px;
}

label {
    cursor: pointer;
}

.form-container {
    display: flex;
}

.last-btn {
    background:hsla(0,0%,100%,.1);
    border:2px solid;
    color:#555;
    cursor:pointer;
    font-size: 12px;
    font-weight: 400;
    outline: 0;
    padding:var(--btn-padding);
    text-transform:uppercase;
    transition-duration:var(--duration);
    transition-property:background-color,color;
    font-family: RobotoSlab;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.contacts {
    display: flex;
    flex-direction: row;
}


.form-group {
    display: flex;
    flex-direction: column;
    max-width: 730px;

}

.form-group__row {
    display: flex;
}

.form-group__container {
    display: flex;
    max-width: 100%;
}

.form-group__container--1-2 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 350px;
}

.textarea {
    width: 730px;
    height: 104px;
}