@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --primary-color:#000000;
}


* {
    box-sizing: border-box;
}

button {
    transition: all .3s ease-in-out;
}

body {
    --text-color: #ffffff;
    
    --size-h1: 48px;
    --size-h2: 20px;
    

    font-family:  'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}




.list {
    margin-left: auto;
    float: right;
}

.list-item {
    display: inline-block;
    font-family:  'Montserrat', sans-serif;
    color: var(--text-color);
    font-weight: 400;
}

.list-item.active {
    color: var(--text-color);
}

