.btn {
    padding: var(--btn-padding);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    border: 2px solid white;
    font-weight: normal;
    outline: 0;
    transition-property: background-color, color;
    transition-duration: var(--duration);
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: white;
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
}
