.btn {
    padding: var(--btn-padding);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    border: 2px solid white;
    font-weight: normal;
    outline: 0;
    transition-property: background-color, color;
    transition-duration: var(--duration);
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: white;
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.btn-view {
    display: none;
    position: absolute;
    bottom: 36px;
    left: 36px;
    padding: 20px;
    font-size: 12px;
    color: black;
    width: 410px;
}

.btn-view:hover {
    content: "VIEW";
    display: none;
    position: absolute;
    bottom: -30px;
    left: 50%;
    height: 2px;
    width: 50px;
    background-color: #555555;
    transform: translateX(-50%);
}